.container {
  width: 80%;
  margin: 0 auto
}

.left-content, .right-content {
  display: inline-block;
  vertical-align: top
}

.left-content {
  width: 65%
}

.right-content {
  width: 20%;
  padding: 20px
}

.left-div {
  width: 45%;
  float: left;
  padding: 20px
}
