.container {
  width: 80%;
  margin: 0 auto; // floating in the center
}

.left-content, .right-content {
  display: inline-block;
  vertical-align: top;
}

.left-content {
  width: 65%;
}

.right-content {
  width: 30%;
  padding-top: 10px;
  text-align: center;
}

.left-divs {
  width: 45%;
  float: left;
  padding: 10px
}

h1, h2 {
  text-align: center;
}

.addToCart {

}
